<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="price_change_approved">
        <observer name="magentomodules_doublecheckprice_approved_observer" instance="PriceChangeApprovedObserver" />
    </event>
</config>
